.progress {
    display: flex;
    flex-direction: column;
}

.progress__values {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 1.3rem;
    color: rgb(27, 26, 26);
    font-weight: bold;
}

.progress__item {
    margin-bottom: 8px;
}

.progress__value {
    margin-bottom: 8px;
    color: #fff;
}

.progress__body {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 2px;
    margin-bottom: 5px;
}

.progress__body::progress-bar {
    background-color: #fff;
}

.progress__body::-webkit-progress-bar {
    background-color: #fff;
}

.progress__body::-moz-progress-bar {
    background-color: #fff;
}

.progress__body::-webkit-progress-value {
    background-color: rgb(27, 26, 26);
}