.form {
    display: flex;
    flex-direction: column;
}

.settext {
    background: transparent;
    border: none;
    font-size: 15px;
    border-bottom: 1px solid #e29a5a;
    color: rgb(241, 238, 238);
    margin-bottom: 30px;
    outline: none;
}

.settext::placeholder {
    color: rgb(241, 238, 238);
}

.form__submit {
    background-color: rgb(247, 247, 247);
    border: 2px solid rgb(247, 247, 247);
    width: 250px;
    border-radius: 30px;
    padding: 12px 20px;
    margin-top: 10px;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    color: rgb(126, 124, 124);
    box-sizing: border-box;    
    transition: .25s linear;
}

.form__submit:hover {
    border: 2px solid rgb(32, 32, 32);
    background-color: #e29a5a;
    color: rgb(32, 32, 32);
}