.easy {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-image: url(../../img/quotes-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 20%;
    box-shadow:0 0 0 250px rgba(0, 0, 0, 0.6) inset;
    color: rgb(226, 223, 223);
    padding: 50px 20%;
    box-sizing: border-box;
}

.easy__title {
    font-size: 28px;
}

.easy__text {
    font-size: 13px;
    color: rgb(126, 124, 124);
    font-weight: bold;
}
