.component {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.component__text-title {
    font-size: 1.9rem;
    font-weight: normal;
    margin-bottom: 0;
}

.component__icon {
    margin-right: 20px;
    font-size: 3.2rem;
}

.component__span {
    color: rgb(82, 78, 78);
    font-size: 1.3rem;
    font-weight: bold;
}

.component__span_theme_sun {
    color: #556619;
}

.component__text {
    font-size: 1.2rem;
}