.nav__logo-inner {
  text-decoration: none;
  font-size: 1.9rem;
  color: #000;
  font-weight: bolder;
  text-shadow: 1px 1px 2px #FFFFFF;
}

.nav__burger {
  display: block;
  width: 25px;
  height: 23px;
  cursor: pointer;
  color: transparent;
  font-size: 0;
  background: url("../../img/icon-menu.svg") no-repeat;
  z-index: 10;
}

.nav__checkbox {
  display: none;
}

.nav__checkbox:checked + .nav__burger {
  background-image: url("../../img/icon-cross.svg");
}

.nav__checkbox:checked ~ .nav__menu {
  display: flex;
}

.nav__menu {
    text-transform: uppercase;
}

.nav__item {
  text-decoration: none;
  color: rgb(126, 124, 124);
  font-size: 1.3rem;
  font-weight: bold;
  margin: 0 10px;
  position: relative;
}

.nav__item::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: -2px;
  background-color: rgb(126, 124, 124);;
  left: 0;
  border-radius: 1px;
  visibility: hidden;
  transform: scaleX(0);
  transform-origin: center;
  transition: .25s linear;
}

.nav__item:hover::before {
  visibility: visible;
  transform: scaleX(1);
}

.nav__item_active {
  color: #e29a5a;
}

.nav__item_active::before {
  background-color: #e29a5a;
}
